/*====================================================
        CARTA.CSS
        Feliz Aniversario Mi Amorcito ❤️
====================================================*/


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100%;
    height:100vh;

    overflow:hidden;

    font-family:'Poppins',sans-serif;

    background:

    radial-gradient(
        circle,
        #64194f,
        #21001f,
        #050008
    );

    color:white;

}



/*==============================
        CONTENEDOR PRINCIPAL
==============================*/


#carta{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    overflow:hidden;

}



/*==============================
        FONDO
==============================*/


#carta::before{


    content:"";


    position:absolute;


    width:900px;


    height:900px;



    background:


    radial-gradient(

        circle,

        rgba(255,100,180,.4),

        transparent 70%

    );



    filter:blur(80px);


    animation:

    brilloFondo 8s infinite;


}







/*==============================
        CONTENEDOR CARTA
==============================*/


.contenedor-carta{

    position:absolute;

    z-index:10;

    text-align:center;

    left:53%;

    top:50%;

    transform:

    translate(-50%,-160px);

}






/*==============================
        TITULO
==============================*/


.contenedor-carta h1{


    font-family:'Dancing Script',cursive;


    font-size:60px;


    color:#ffd8ea;


    text-shadow:


    0 0 20px #ff4f9a;


    margin-bottom:45px;


}







/*==============================
        SOBRE
==============================*/


.sobre{


    width:420px;


    height:280px;


    position:relative;


    background:


    linear-gradient(

        135deg,

        #ff4f9a,

        #ffb0d2

    );


    border-radius:15px;


    cursor:pointer;


    box-shadow:


    0 30px 60px rgba(0,0,0,.6),


    0 0 40px #ff4f9a;



    perspective:1000px;


}





.sobre::before{


    content:"";


    position:absolute;


    bottom:0;


    left:0;



    border-left:

    210px solid transparent;



    border-right:

    210px solid transparent;



    border-bottom:

    150px solid #ff70b6;



    z-index:4;


}







/*==============================
        TAPA
==============================*/


.tapa{


    position:absolute;


    width:100%;


    height:100%;



    background:


    linear-gradient(

        135deg,

        #ff82bf,

        #ffd0e6

    );



    clip-path:


    polygon(

        0 0,

        100% 0,

        50% 65%

    );



    transform-origin:top;


    transition:1.5s ease;


    z-index:8;


}




.sobre.abierto .tapa{


    transform:


    rotateX(180deg);



    z-index:1;


}







/*==============================
        CORAZÓN
==============================*/


.corazon-sobre{


    position:absolute;


    left:50%;


    top:50%;



    transform:


    translate(-50%,-50%);



    font-size:60px;


    z-index:9;



    animation:


    latido 2s infinite;


}







/*==============================
        PAPEL
==============================*/


.papel{


    position:absolute;


    width:380px;


    height:520px;


    left:20px;


    bottom:20px;



    padding:35px;



    background:white;


    color:#57153d;


    border-radius:15px;



    opacity:0;



    transform:


    translateY(0);



    transition:


    1.8s ease;



    overflow-y:auto;



    box-shadow:


    0 20px 60px rgba(0,0,0,.7);



    z-index:10;


}





.sobre.abierto .papel{


    transform:


    translateY(-250px);



    opacity:1;



    z-index:20;


}







/*==============================
        TEXTO
==============================*/


.papel h2{


    font-family:'Dancing Script',cursive;


    font-size:35px;


    color:#ff3985;



    margin-bottom:25px;


}



#textoCarta p{


    font-size:15px;


    line-height:1.8;


    text-align:justify;


    margin-bottom:20px;


}




#textoCarta h3{


    font-family:'Dancing Script',cursive;


    font-size:42px;


    color:#ff3985;


    text-align:center;


}



#textoCarta h4{


    color:#ff3985;


    text-align:center;


    font-size:23px;


    margin-top:20px;


}







/*==============================
        BOTÓN
==============================*/


button{


    margin-top:70px;



    padding:16px 45px;



    border:none;



    border-radius:50px;



    cursor:pointer;



    font-size:18px;



    font-weight:bold;



    color:white;



    background:



    linear-gradient(

        45deg,

        #ff006f,

        #ff9dd0

    );



    box-shadow:


    0 0 30px #ff4f9a;



    transition:.4s;


}





button:hover{


    transform:scale(1.1);


}







/*==============================
        PÉTALOS
==============================*/


.petalo{


    position:absolute;



    width:18px;


    height:25px;



    background:#ff5fa8;



    border-radius:


    100% 0 100% 0;



    animation:


    caerPetalo 12s linear infinite;


}







/*==============================
        ANIMACIONES
==============================*/


@keyframes latido{


0%{


transform:


translate(-50%,-50%)

scale(1);


}


50%{


transform:


translate(-50%,-50%)

scale(1.3);


}


100%{


transform:


translate(-50%,-50%)

scale(1);


}


}




@keyframes brilloFondo{


0%{

transform:scale(1);


}


50%{


transform:scale(1.3);


}


100%{


transform:scale(1);


}


}






/*==============================
        CELULAR
==============================*/


@media(max-width:600px){


.contenedor-carta{


    transform:


    translate(-50%,-30px);


}



.contenedor-carta h1{


    font-size:40px;


}



.sobre{


    width:320px;


    height:220px;


}



.sobre::before{


    border-left-width:160px;


    border-right-width:160px;


}



.papel{


    width:290px;


    height:450px;


    left:15px;


}



.sobre.abierto .papel{


    transform:


    translateY(-210px);


}



button{


    margin-top:60px;


}


}